.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  min-height: 120vh;
  background-size: cover;
  margin: 0px;
  padding-left: 40px;
  padding-top: 50px;
}

.home-heading {
  color: white;
  font-family: 'Roboto';
  font-size: 80px;
  width: 60%;
}

.home-description {
  color: white;
  font-family: 'Roboto';
  font-size: 30px;
  width: 60%;
}

.find-jobs-btn {
  background-color: #6366f1;
  border: 0px;
  border-radius: 10px;
  height: 50px;
  width: 150px;
  margin-bottom: 100px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  margin-top: 20px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
    min-height: 200vh;
    padding: 20px;
  }

  .home-heading {
    width: 100%;
    font-size: 40px;
  }

  .home-description {
    width: 100%;
    font-size: 20px;
  }

  .find-jobs-btn {
    height: 40px;
    width: 100px;
    font-size: 15px;
  }
}
